.space-area {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	gap: 30px;
}

.left-align {
	background: #ffffe4;
	margin-top: 30px;
	padding-left: 25px;
	height: 330px;
}

.middle-align {
	padding-left: 0%;
	padding-right: 0%;
}

.right-align {
	padding-left: 2%;
	padding-right: 3%;
}

#find-buddy {
	color: #5935a4;
	font-family: "Poppins", sans-sarif;
	font-size: 150%;
	font-weight: 800;
}

.team-name {
	margin-left: 2%;
	margin-top: 1%;
	color: #5935a4;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border-radius: 40px;
	border: #ff7f4d solid 1px;
	padding: 10px;
}

.sa-text {
	color: #ff7f4d;
	font-family: "Poppins", sans-sarif;
	font-size: 150%;
}

.ma-text {
	color: #ff7f4d;
	font-family: "Poppins", sans-sarif;
	font-size: 200%;
	font-weight: bold;
}

.ra-text {
	color: #5935a4;
	text-align: center;
	font-weight: bold;
	margin-top: 50px;
	padding-top: 20px;
	font-family: "Poppins", sans-sarif;
}

.event-main {
	display: grid;
	grid-template-columns: 2fr 2fr 1fr;
	gap: 20px;
}

.icons {
	width: 1em;
	height: 1em;
	margin-top: 1em;
	margin-right: 0.5em;
}

.clk {
	display: flex;
}

.event-p {
	padding-bottom: 0em;
	opacity: 0.65;
	color: #e24e13;
}

.event-h {
	color: #5935a4;
	font-weight: bold;
	font-size: 150%;
	margin-bottom: 10px;
	margin-top: 20px;
}

.cards-event {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4em 8em 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	padding: 2%;
	margin: 0.5%;
	border-radius: 25px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
	box-shadow: 0 8em 16em 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
	padding: 2px 16px;
}

.offyellow {
	height: 45%;
	width: 80%;
	background: #ffffe4;
}

.nav {
	display: flex;
	justify-content: space-between;
}

.grid {
	position: relative;
	top: 20px;
	right: 40px;
}

.noti {
	position: relative;
	right: 60px;
	top: 15px;
}

.more h3 {
	height: 100px;
	width: 200px;
	color: #5935a4;
	text-align: center;
	margin-top: 120px;
}
